.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container {
    margin:50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;  
}
.cart-container {
    position: sticky;
    top: 0;
    margin-top: 45px;
    height: 507px;
    background-color: #FFE0B3;
    text-align: center;
    border-radius: 4px;
    
}